html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #3483eb;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

.content {
  display: flex;
  justify-content: space-around;
}

.userBoardContainer,
.computerBoardContainer {
  background-color: #3483eb;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
}

.userGridContainer,
.computerGridContainer {
  display: grid;
  grid-template-rows: repeat(10, 1fr); /* 10 rows */
  grid-template-columns: repeat(10, 1fr); /* 10 columns */
  background-color: #ffffff;
  width: 450px;
  height: 450px;
  border: 1px solid black;
}

.grid-cell-user,
.grid-cell-computer {
  background-color: #ffffff;
  border: 1px solid black;
}

#rotateButton {
  margin-bottom: 15px;
  width: 100px;
  height: 50px;
  background-color: #ffffff;
  color: black;
  border: none;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

#startButton {
  margin-top: 15px;
  width: 100px;
  height: 75px;
  background-color: #ffffff;
  color: black;
  border: none;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.highlight {
  background-color: yellow;
}

.ship-placed {
  background-color: #3483eb;
}

.computerShip-placed {
  background-color: #ffffff;
}

.disabled {
  display: none;
}
